#Preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 99999;
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
    /* opacity: 0; */
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

/* Bootstrap Overriding */

.modal-content {
    border-radius: 0 !important;
}

.content-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.form-control, select, .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

/* Arcadia Container */

.arcadia-main-container {
    height: 80vh;
    overflow-y: auto;
}

/* Acradia Table */

.arcadia-table thead tr {
    background-color: #3d9970;
    color: #FFFFFF;
    border: 1px solid #3d9970;
}

table {
    width: 100% !important;
    overflow-x: auto;
    white-space: nowrap;
}

.dataTables_length {
    width: 100% !important;
}

.custom-select-sm {
    float: left;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
    ;
}

#manageTable {
    display: block !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin: 0 !important;
}

/* ____________________________ */

/*  */

/* Pagination Overriding */

/* ____________________________ */

.page-link {
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #5c5c5c;
    background-color: #ffffff;
    border: 1px solid #b6b6b6;
    border-radius: 0 !important;
    font-size: 0.8em;
}

.page-link:hover {
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: #a0a0a0;
    border-color: #343a40;
}

.page-link:focus {
    /* z-index: 3;
    outline: 0; */
    /* box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25); */
    box-shadow: 0 0 0 .1rem #ffffff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: transparent !important;
    border: 1px solid #ffffff !important;
    border-radius: 0 !important;
}

.page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    font-weight: bold;
}

@-webkit-keyframes dyinglight {
    15% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    50% {
        -webkit-transform: rotate(-89deg);
        transform: rotate(-89deg);
    }
    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

@keyframes dyinglight {
    15% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    50% {
        -webkit-transform: rotate(-89deg);
        transform: rotate(-89deg);
    }
    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.dl {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
}

.dl__square {
    display: block;
    width: 50px;
    height: 50px;
    background: #4285F4;
}

.dl__container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-animation: dyinglight 1s ease infinite;
    animation: dyinglight 1s ease infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl__corner--top:before, .dl__corner--top:after, .dl__corner--bottom:before, .dl__corner--bottom:after {
    position: absolute;
    width: 17px;
    height: 17px;
    color: #4285F4;
    content: "";
}

.dl__corner--top:before {
    border-left: 1px solid;
    border-top: 1px solid;
    top: -6px;
    left: -6px;
}

.dl__corner--top:after {
    border-right: 1px solid;
    border-top: 1px solid;
    top: -6px;
    right: -6px;
}

.dl__corner--bottom:before {
    border-left: 1px solid;
    border-bottom: 1px solid;
    bottom: -6px;
    left: -6px;
}

.dl__corner--bottom:after {
    border-right: 1px solid;
    border-bottom: 1px solid;
    bottom: -6px;
    right: -6px;
}